div(class='book')
  div(class='inner')
    div(class='left')
    div(class='middle')
    div(class='right')
    - var n = 0;
  ul
    while n < 18
      li
      - n++
      
a(class='dribbble' href='https://dribbble.com/shots/7199149-Book-Loader' target='_blank')
  img(src='https://dribbble.com/assets/logo-small-2x-9fe74d2ad7b25fba0f50168523c15fda4c35534f9ea0b1011179275383035439.png')